body .global-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f1e7fe;

    .little-container {
        width: 82%;
        height: 82%;
        position: relative;
        margin: auto;
        top: 9%;
        background: white;
        box-shadow: 37px 21px 98px -13px rgba(0,0,0,0.68);
        transition: 1s ease-in-out;

        .materials {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .round {
                text-align: center;
                will-change: transform;
                position: absolute;
                width: 25%;
                height: 50%;
                transform: translateX(75%) translateY(10%); 
                border-radius: 50%;
                background: white;
                border: solid #f1e7fe 10px;
                transition: 0.4s ease-in-out;

                .test {
                    will-change: opacity transform;
                    transform: translateY(50%);
                    opacity: 0;       
                    transition: 0.4s ease-in-out;             
                }

                &:hover {
                    border: white;
                    background: #f1e7fe;
                }

                &:hover .test {
                    opacity: 1;
                }
            }

            .template-picture {
                width: 65%;
                height: 65%;
                will-change: transform;
                transform: translateY(47.5%) translateX(-20%);
            }

            .explaination {
                will-change: transform;
                width: 65%;
                height: 65%;
                transform: translateY(17.5%);
                margin-right: 10%;
                display: flex;
                flex-direction: column;

                .date-title {
                    text-align: center;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 3em;
                    margin-bottom: 15%;
                }

                .text {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 1.5em;
                    text-align: center;
                 }

                .button {
                    width: 20%;
                    height: 20%;
                    margin-right: auto;
                    margin-left: auto;
                    transform: translateY(65%);
                    text-align: center;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 1.5em;
                    border: 3px solid #f1e7fe;
                    transition: 0.4s cubic-bezier(.26,.46,.26,.89);

                    &:hover {
                        color: white;
                        background: #f1e7fe;
                    }
                }
            }
        } 
    }
}