.global-container {
    .title-1 {
        position: relative;
        width: 15%;
        top: 8%;
        left: 5%;
        padding: 0;
        color: white;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        transition: 0.4s ease-in;
    }

    .materials-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.4s ease-in-out;
    
        .template-picture-1 {
            width: 65%;
            height: 65%;
            will-change: opacity transform;
            transform: translateY(30%) translateX(-10%) scale(0.9);
        }
    
        .explaination-1 {
            will-change: transform;
            width: 50%;
            height: 75%;
            transform: translateY(17.5%);
            margin-right: 5%;
            display: flex;
            flex-direction: column;
    
            .number-1 {
                font-size: 2.5em;
                font-family: 'WorkSans', Arial, Helvetica, sans-serif;
                color: gray;
            }
    
            .date-title-1 {
                text-align: start;
                font-family: 'WorkSans', Arial, Helvetica, sans-serif;
                font-size: 2.5em;
                color: white;
                margin-bottom: 15%;
            }
    
            .text-1, .text-2 {
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-size: 1.5em;
                line-height: 35px;
                text-align: start;
                color: white;
            }

            .ct-chart-1 {
                margin-top: 10%;
            }
        }
    }
}


